*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1200px;
    margin: 100px auto;
}
.title{
    text-align: center;
    margin-bottom: 60px;
}
.title h4{
    text-transform: capitalize;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.title h4 span{
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
}
.title h4:before{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #ff7720;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.single-hotle{
    flex-basis: 580px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-hotle:nth-child(5), .single-hotle:nth-child(6){
    border-bottom: 0;
}
.single-hotle img{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 3px;
    transition: .5s;
}
.single-hotle h4{
    text-transform: capitalize;
    font-size: 22px;
    border-bottom: 1px dashed #333;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
/* .single-hotle:hover img{
    border-radius: 0;
} */
/* .single-hotle h4 span{
    float: right;
    color: #ff7720;
    font-style: italic;
} */
button{
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgb(20, 103, 180);
    float: right;
}
